mat-nav-list {
  display: flex;
}

.second-row {
  background-color: rgb(245, 245, 245);
  color: black;
}

.mat-list-base {
  padding: 0px;
}

.active {
  background-color: rgb(235, 235, 235);
}

.nav-text {
  color: black;
  font-weight: bold;
}

