<div>
  <form>
    <mat-form-field style="margin: 1em">
      <input
        matInput
        #criteria
        (input)="updateCriteria(criteria.value)"
        placeholder="Filter Characters..."
      />
    </mat-form-field>
  </form>

  <mat-list [@filterAnimation]="characters?.length">
    <mat-list-item *ngFor="let character of characters">
      <img
        matListItemAvatar
        [src]="character.avatar"
        [alt]="character.name | lowercase"
      />
      <span mat-line class="list-text">{{ character.name | uppercase }} - {{ character.gender }} - {{ character.birth_year }}</span>
      <div>{{character.name}}</div>
    </mat-list-item>
  </mat-list>
</div>